.navbar {
  float: right;
  padding: 10px;
  margin-top: 20px;

}

.navbar ul {
  list-style: none;
}

.navbar ul li {
  font-size: large;
  margin: 10px;
}

.navbar ul li a {
  color: white;
}

.header {
  margin-left: 100px;
}

.contactUs {
  display: flex;
  margin-right: 50px;
  margin-left: 50px;
}